<div class="cart_title" >Nákupní košík</div>
<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price" >
        <%= number_to_currency(item.total_price, :locale => :cs) %>
      </td>
    </tr>
  <% end %>

  <tr class="total_line" >
    <td colspan="2" >Celkem</td>
    <td class="total_cell" >
      <%= number_to_currency(@cart.total_price, :locale => :cs) %>
    </td>
  </tr>
</table>

<%= button_to 'Vyprázdnit košík', @cart, :method => :delete,
              :confirm => 'Opravdu vyprázdnit?' %>
